#base {
  border: 15px solid #444444;
  background-color: #444444;
  border-radius: 100%;
  width: 510px;
  height: 508px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -255px;
  margin-top: -255px;
}

.lightPanel {
  width: 250px; 
  height: 250px; 
  float: left;
  opacity: .5;
}

#c1 {
  background-color: red;
  border-top-left-radius: 100%;
  border-right: 5px solid #444444;
  border-bottom: 5px solid #444444;
  background-clip: padding-box;
}

#c2 {
  background-color: lightgreen;
  border-top-right-radius: 100%;
  border-bottom: 5px solid #444444;
  border-left: 5px solid #444444;
}

#c3 {
  background-color: lightblue;
  border-bottom-left-radius: 100%;
  border-right: 5px solid #444444;
  border-top: 5px solid #444444;
}

#c4 {
  background-color: yellow;
  border-bottom-right-radius: 100%;
  border-left: 5px solid #444444;
  border-top: 5px solid #444444;
}

#controlPanel {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 100%;
  background-color: #444444;
  top: 105;
  left: 105;
}